body {
	width: 600px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	border: 1px groove black;
}

table {
	border-collapse: collapse;
	margin: auto;
}
table td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}
a {
	color: blue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p {
	text-align: justify;
}

p.title {
	padding: 5px;
	font-size: 18px;
}
p.s_title {
	font-weight: bold;
}